/*colores*/
$color-principal: #7713a5;
$color-secundary: #9c16da;
$color-third:#fff;
 
$color-auxiliar:#316099;
$color-auxiliar-secundary:rgb(64, 160, 207);

/*font-weight*/

$font-bold:600;
$font-normal:400;
$font-light:300;

/*font-size*/
$font-size-small:12px;
$font-size:16px;
$font-size-large:22px;
$font-size-xlarge:36px;

/*font-family*/
$font-roboto:'Roboto', Arial, Helvetica, sans-serif ;
$font-helvetica: Helvetica, Arial, sans-serif;